
// ========================== TenColomn Grid =========================

$grid-breakpoints: (
  xs: 0,
  sm: 550px,
  md: 800px,
  lg: 1050px,
  xl: 1300px
) !default;

$grid-columns: 10 !default;

.container {
  width: 100%;
  padding: 0 15px;
  @include minMedia(400) {
    padding: 0 20px;
  }
  @include minMedia(800) {
    padding: 0 30px;
  }
  @include minMedia(1050) {
    padding: 0 50px;
  }
  @include minMedia(1400) {
    padding: 0 150px;
  }
  @include minMedia(1800) {
    max-width: none;
    padding: 0 200px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
}

$width: 100%;

$styles: (
  ".col-25": (
    width: calc($width * 0.25)
  ),
  ".col-30": (
    width: calc($width * 0.3)
  ),
  ".col-33": (
    width: calc($width / 3)
  ),
  ".col-40": (
    width: calc($width * 0.4)
  ),
  ".col-45": (
    width: calc($width * 0.45)
  ),
  ".col-50": (
    width: calc($width / 2)
  ),
  ".col-60": (
    width: calc($width * 0.6)
  ),
  ".col-66": (
    width: calc(($width / 3)*2)
  ),
  ".col-75": (
    width: calc($width * 0.75)
  ),
  ".col-80": (
    width: calc($width * 0.8)
  ),
  ".col-100": (
    width: $width
  )
);

@include generate_styles($styles);

@each $bp, $val in $grid-breakpoints {
  @if $bp != "xs" {
    .col-25--#{$bp} {
      @include minMedia($val) {
        width: 25%;
      }
    }
    .col-33--#{$bp} {
      @include minMedia($val) {
        width: 33.33%;
      }
    }
    .col-40--#{$bp} {
      @include minMedia($val) {
        width: 40%;
      }
    }
    .col-45--#{$bp} {
      @include minMedia($val) {
        width: 45%;
      }
    }
    .col-50--#{$bp} {
      @include minMedia($val) {
        width: 50%;
      }
    }
    .col-60--#{$bp} {
      @include minMedia($val) {
        width: 60%;
      }
    }
    .col-66--#{$bp} {
      @include minMedia($val) {
        width: 66.66%;
      }
    }
    .col-75--#{$bp} {
      @include minMedia($val) {
        width: 75%;
      }
    }
    .col-100--#{$bp} {
      @include minMedia($val) {
        width: 100%;
      }
    }
  }
}

[class*=" col-"],
[class^="col-"] {
  padding: 0;
  min-height: 1px;
  position: relative;
  @include minMedia(800) {
    padding: 0 20px;
  }
  @include media(800) {
    width: 100%;
  }
}
