// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: "Roboto", sans-serif !default;

$base-font-size: 18px !default;

$base-line-height: 1.45 !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco", monospace !default;

$font-weight: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "extrabold": 800
);

$brand: #df4f4f !default;

$text-color: (
  "primary": #333,
  "white": #fff,
  "dark": #111,
  "black": #000,
  "accent": $brand,
  "footer": #6c769a,
  "header": #76001d,
  "green": #18e591,
  "error": red
) !default;

$theme-color: (
  "body": #fff,
  "primary": #fff,
  "brand": $brand,
  "brand-hover": darken($brand, 10%),
  "brand-active": darken($brand, 20%),
  "footer": #ffe117,
  "head": #ffe79e,
  "black": #1c1c1c,
  "dark": #1d1d1d,
  "gray": #e5e5e5
) !default;
