$styles: (
  ".flex": (
    display: flex
  ),
  ".inline-flex": (
    display: inline-flex
  ),
  ".display-none": (
    display: none
  ),
  ".display-block": (
    display: block
  ),
  ".display-inline": (
    display: inline
  ),
  ".display-table": (
    display: table
  ),
  ".display-inline-block": (
    display: inline-block
  ),
  ".inline-block": (
    display: inline-block
  )
);

@include generate_styles($styles);
